services:
  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: tasks_api
    command: node app.js
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - mongo

  worker:
    build: .
    container_name: overdue_worker
    command: node queues/overdueWorker.js
    volumes:
      - .:/app
    depends_on:
      - redis
      - mongo

volumes:
  mongo_data:
